@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap");

body {
  background-color: #000;
  font-family: "Jura", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-left: 15%;
  margin-right: 15%;
}
